[submodule "themes/temple"]
	path = themes/temple
	url = https://github.com/mhcerri/temple.git
[submodule "public"]
	path = public
	url = https://github.com/mhcerri/mhcerri.github.io.git
	branch = master
